--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO "cn334Admin";

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO "cn334Admin";

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO "cn334Admin";

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO "cn334Admin";

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO "cn334Admin";

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO "cn334Admin";

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO "cn334Admin";

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO "cn334Admin";

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO "cn334Admin";

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO "cn334Admin";

--
-- Name: order_management_order; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.order_management_order (
    id bigint NOT NULL,
    order_date timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    shipping_address text NOT NULL,
    payment_method character varying(50) NOT NULL,
    customer_id integer NOT NULL
);


ALTER TABLE public.order_management_order OWNER TO "cn334Admin";

--
-- Name: order_management_order_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.order_management_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_management_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_management_orderitem; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.order_management_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price_at_order_time numeric(10,2) NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint,
    CONSTRAINT order_management_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.order_management_orderitem OWNER TO "cn334Admin";

--
-- Name: order_management_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.order_management_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_management_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_management_payment; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.order_management_payment (
    id bigint NOT NULL,
    payment_status character varying(20) NOT NULL,
    payment_date timestamp with time zone,
    transaction_reference character varying(100) NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.order_management_payment OWNER TO "cn334Admin";

--
-- Name: order_management_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.order_management_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_management_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_management_shipping; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.order_management_shipping (
    id bigint NOT NULL,
    tracking_number character varying(100) NOT NULL,
    courier_name character varying(100) NOT NULL,
    shipped_date timestamp with time zone,
    delivery_date timestamp with time zone,
    status character varying(50) NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.order_management_shipping OWNER TO "cn334Admin";

--
-- Name: order_management_shipping_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.order_management_shipping ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_management_shipping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_management_category; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.product_management_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.product_management_category OWNER TO "cn334Admin";

--
-- Name: product_management_category_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.product_management_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_management_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_management_product; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.product_management_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    stock_quantity integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    category_id bigint,
    image character varying(100),
    CONSTRAINT product_management_product_stock_quantity_check CHECK ((stock_quantity >= 0))
);


ALTER TABLE public.product_management_product OWNER TO "cn334Admin";

--
-- Name: product_management_product_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.product_management_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_management_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_management_customer; Type: TABLE; Schema: public; Owner: cn334Admin
--

CREATE TABLE public.user_management_customer (
    id bigint NOT NULL,
    address text NOT NULL,
    province character varying(100) NOT NULL,
    post_code character varying(5) NOT NULL,
    phone_number character varying(20) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.user_management_customer OWNER TO "cn334Admin";

--
-- Name: user_management_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: cn334Admin
--

ALTER TABLE public.user_management_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_management_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	user_management	customer
8	product_management	category
9	product_management	product
10	order_management	payment
11	order_management	order
12	order_management	shipping
13	order_management	orderitem
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--



--
-- Data for Name: order_management_order; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.order_management_order (id, order_date, status, total_price, shipping_address, payment_method, customer_id) FROM stdin;
1	2025-05-02 17:13:50.525862+00	pending	1000.00	-	-	3
2	2025-05-03 08:07:43.583851+00	pending	200.00	123 Handmade Lane	COD	3
3	2025-05-03 08:11:02.967388+00	pending	200.00	123 Handmade Lane	COD	3
\.


--
-- Data for Name: order_management_orderitem; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.order_management_orderitem (id, quantity, price_at_order_time, order_id, product_id) FROM stdin;
1	2	1200.00	1	1
2	2	299.00	2	1
3	2	299.00	3	1
\.


--
-- Data for Name: order_management_payment; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.order_management_payment (id, payment_status, payment_date, transaction_reference, order_id) FROM stdin;
\.


--
-- Data for Name: order_management_shipping; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.order_management_shipping (id, tracking_number, courier_name, shipped_date, delivery_date, status, order_id) FROM stdin;
\.


--
-- Data for Name: product_management_category; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.product_management_category (id, name, description) FROM stdin;
1	α╣Çα╕äα╕úα╕╖α╣êα╕¡α╕çα╕¢α╕▒α╣ëα╕Öα╕öα╕┤α╕Öα╣Çα╕£α╕▓	α╣Çα╕äα╕úα╕╖α╣êα╕¡α╕çα╕¢α╕▒α╣ëα╕Öα╕öα╕┤α╕Öα╣Çα╕£α╕▓α╕òα╣êα╕▓α╕çα╣å
2	α╕¬α╕┤α╣êα╕çα╕ùα╕¡	-
3	α╣Çα╕äα╕úα╕╖α╣êα╕¡α╕çα╕¢α╕úα╕░α╕öα╕▒α╕Ü	-
4	α╕½α╕▒α╕òα╕ûα╕üα╕úα╕úα╕íα╣äα╕íα╣ë	-
5	α╣Çα╕äα╕úα╕╖α╣êα╕¡α╕çα╕½α╕¡α╕í	-
6	α╕üα╕░α╕Ñα╕▓α╕íα╕░α╕₧α╕úα╣ëα╕▓α╕º	-
\.


--
-- Data for Name: product_management_product; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--



--
-- Data for Name: user_management_customer; Type: TABLE DATA; Schema: public; Owner: cn334Admin
--

COPY public.user_management_customer (id, address, province, post_code, phone_number, user_id) FROM stdin;
2	1234/12			123456789	3
3	1234/12			123456789	8
4	1234/12			123456789	9
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 9, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 20, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 22, true);


--
-- Name: order_management_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.order_management_order_id_seq', 3, true);


--
-- Name: order_management_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.order_management_orderitem_id_seq', 3, true);


--
-- Name: order_management_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.order_management_payment_id_seq', 1, false);


--
-- Name: order_management_shipping_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.order_management_shipping_id_seq', 1, false);


--
-- Name: product_management_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.product_management_category_id_seq', 6, true);


--
-- Name: product_management_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.product_management_product_id_seq', 8, true);


--
-- Name: user_management_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cn334Admin
--

SELECT pg_catalog.setval('public.user_management_customer_id_seq', 4, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: order_management_order order_management_order_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_order
    ADD CONSTRAINT order_management_order_pkey PRIMARY KEY (id);


--
-- Name: order_management_orderitem order_management_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_orderitem
    ADD CONSTRAINT order_management_orderitem_pkey PRIMARY KEY (id);


--
-- Name: order_management_payment order_management_payment_order_id_key; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_payment
    ADD CONSTRAINT order_management_payment_order_id_key UNIQUE (order_id);


--
-- Name: order_management_payment order_management_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_payment
    ADD CONSTRAINT order_management_payment_pkey PRIMARY KEY (id);


--
-- Name: order_management_shipping order_management_shipping_order_id_key; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_shipping
    ADD CONSTRAINT order_management_shipping_order_id_key UNIQUE (order_id);


--
-- Name: order_management_shipping order_management_shipping_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_shipping
    ADD CONSTRAINT order_management_shipping_pkey PRIMARY KEY (id);


--
-- Name: product_management_category product_management_category_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.product_management_category
    ADD CONSTRAINT product_management_category_pkey PRIMARY KEY (id);


--
-- Name: product_management_product product_management_product_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.product_management_product
    ADD CONSTRAINT product_management_product_pkey PRIMARY KEY (id);


--
-- Name: user_management_customer user_management_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.user_management_customer
    ADD CONSTRAINT user_management_customer_pkey PRIMARY KEY (id);


--
-- Name: user_management_customer user_management_customer_user_id_key; Type: CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.user_management_customer
    ADD CONSTRAINT user_management_customer_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: order_management_order_customer_id_b5418bba; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX order_management_order_customer_id_b5418bba ON public.order_management_order USING btree (customer_id);


--
-- Name: order_management_orderitem_order_id_14fc180e; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX order_management_orderitem_order_id_14fc180e ON public.order_management_orderitem USING btree (order_id);


--
-- Name: order_management_orderitem_product_id_08c590a0; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX order_management_orderitem_product_id_08c590a0 ON public.order_management_orderitem USING btree (product_id);


--
-- Name: product_management_product_category_id_c8549eca; Type: INDEX; Schema: public; Owner: cn334Admin
--

CREATE INDEX product_management_product_category_id_c8549eca ON public.product_management_product USING btree (category_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_management_orderitem order_management_ord_order_id_14fc180e_fk_order_man; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_orderitem
    ADD CONSTRAINT order_management_ord_order_id_14fc180e_fk_order_man FOREIGN KEY (order_id) REFERENCES public.order_management_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_management_orderitem order_management_ord_product_id_08c590a0_fk_product_m; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_orderitem
    ADD CONSTRAINT order_management_ord_product_id_08c590a0_fk_product_m FOREIGN KEY (product_id) REFERENCES public.product_management_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_management_order order_management_order_customer_id_b5418bba_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_order
    ADD CONSTRAINT order_management_order_customer_id_b5418bba_fk_auth_user_id FOREIGN KEY (customer_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_management_payment order_management_pay_order_id_6e20a550_fk_order_man; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_payment
    ADD CONSTRAINT order_management_pay_order_id_6e20a550_fk_order_man FOREIGN KEY (order_id) REFERENCES public.order_management_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_management_shipping order_management_shi_order_id_75ee8684_fk_order_man; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.order_management_shipping
    ADD CONSTRAINT order_management_shi_order_id_75ee8684_fk_order_man FOREIGN KEY (order_id) REFERENCES public.order_management_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_management_product product_management_p_category_id_c8549eca_fk_product_m; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.product_management_product
    ADD CONSTRAINT product_management_p_category_id_c8549eca_fk_product_m FOREIGN KEY (category_id) REFERENCES public.product_management_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_management_customer user_management_customer_user_id_267bfeda_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: cn334Admin
--

ALTER TABLE ONLY public.user_management_customer
    ADD CONSTRAINT user_management_customer_user_id_267bfeda_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

